body, .list-group-item{
  background-color: #242424;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#add-new-task{
  border-radius: 30px;
  height: 45px;
  border: 0;
  width: 250px;
  text-indent: 10px;
  margin-right: 10px;
}

#add-new-task:focus{
  outline: none;
}

ol li{ 
  list-style-type: none; 
  border-bottom: 1px solid #aaa;
}

li:last-child{
  border: 0;
}